<div class="container">
  <h1 class="text-center mt-50">Stock Market Rates</h1>
  <div class="container text-center mt-30">
    <%= form_tag pages_path, method: :get do %>
      <input type="text" class="search_box" value="<%= @search_url %>" placeholder="Enter Money Control Stock URL" name="url" required>
      <button type="submit" class="search_btn"><i class="fa fa-search"></i></button>
    <% end %>
  </div>
  <div class="row mt-30">
    <table border="1" align="center">
      <thead>
        <tr>
          <th>Company Name</th>
          <th>52 Week High</th>
          <th>Current Rate</th>
          <th>Percentage</th>
        </tr>
      </thead>
      <tbody>
        <% @rates.each do |rate| %>
          <tr>
            <td><%= link_to rate[:name], rate[:url], target: "_blank" %></td>
            <td><%= rate[:high_52] %></td>
            <td><%= rate[:current_rate] %></td>
            <td><%= rate[:percentage].round(2) %> % </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="container mt-30 mb-30 text-center">
    <%= link_to "Send Mail", send_mail_pages_path(rates: @rates), method: :post, remote: true, class: "btn btn-success" %><br>
    <span class="hidden mail-sent green">Mail has been sent successfully</span>
  </div>
</div>
